html {
background: #fff;
}

body {
font-size: 90%;
font-family: Orator Std, Lucida Console, Georgia;
line-height: 1.6em;
text-align: center;
color: #990000;
font-weight: normal;
}

ul, li, body, html {
margin: 0;
padding: 0;
}

img {
margin: 3em 0 0 5.5em;
}

a {
text-decoration: none;
color: #990000;
}

a:hover {
text-decoration: underline;
color: #996600;
}

span {
font-size: 11px;
font-weight: normal;
}

#container {
text-align: left;
width: 900px;
margin: auto;
}

/* HEADER */

#header {
text-align: center;
padding: 2em 0 2em 0;
font-size: 16px;
font-weight: bold;
overflow: hidden;
margin-bottom: 50px;
}

/* MAIN CONTENT */

#mainContent {
padding: 0 1em;
}

#mainContent div{
overflow: hidden;
}

#tier1 {
margin-bottom: 1em;
}

#tier1 div {
border: 1px solid #ababab;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
padding: 0 1em;
}

#mainContent #tier1{
height: 206px;
padding-top: .6em;
}

#tier1 #myclassPic {
height: 209px;
float: left;
width: 35%;
border: none;
}

#tier1 #login {
height: 209px;
margin-left: 40%;
width: 408px;
text-align: left;
position: relative;
font-family: Georgia;
font-size: 16px;
color: #996600;
}

#tier1 #login p{
display: block;
}

#tier1 #login span {
margin: 0;
padding: 0;
}

button{
color:#990000;
font:14px Georgia;
padding:4px 10px;
background:url(images/blah.png) repeat-x center #996633;background-color:rgba(153,102,51,1);
border:1px solid #996633;
-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;
border-bottom:1px solid #9f9f9f;
-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
cursor:pointer;
}

button:hover{background-color:rgba(153,102,51,0.8);}

button:active{position:relative;top:2px;}

#tier1 #about {
height: 900px;
width: 900px;
position: relative;
padding: 0;
margin-top: 1em;
}

.gradientV{
    /* fallback (Opera) */
    background: #ffffff;
    /* Mozilla: */
    background: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, left bottom, from(#ffffff), to(#e6e6e6));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#ffffff', EndColorStr='#e6e6e6', GradientType=0);
  }

/* FOOTER SECTION */

#footer {
clear: both;
margin-top: 5em;
font-size: 14px;
font-weight: bold;
}